@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: 'Outfit', sans-serif;
}
select,
input,
textarea{
  border: 1px solid #c2c2c2;
  outline-color: #99a6df;
  border-radius: 4px;
}
.active{
    background-color: #ebf9ff;
  border-color: #99a6df;
}